name: Fast API
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test-app:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependecies
        run:
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests
        run: pytest -v test
        
